.dropdown {
    position: relative;
    width: 585px;
}

.dropdown__button {
    padding: 10px;
    border: none;
    width: 55%;
    background-color: #ff6060;
    border-radius: 10px;
    cursor: pointer;
}

.dropdown__content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    width: calc(100% - 2px);
    margin-top: 4px;
}

.dropdown__list {
    list-style: none;
    display: contents;
    padding: 0;
    margin: 0;
}

.dropdown__list-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown__list-item:hover {
    background-color: #f2f2f2;
}