.dropdownLarger {
    position: relative;
    width: 100%;
}

.dropdownLarger__button {
    padding: 10px;
    border: none;
    color: white;
    font-size: inherit;
    background-color: #ff6060;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.dropdownLarger__overlay {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: right 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdownLarger__overlay.show {
    right: 0;
}

.dropdownLarger__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 500px;
}

.dropdownLarger__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdownLarger__list-item {
    padding: 10px;
    cursor: pointer;
    color: #ff6060;
    text-align: center;
}

.dropdownLarger__list-item:hover {
    background-color: #f2f2f2;
}

.dropdownLarger__content {
    flex: 1 1;
    padding: 10px;
    margin-top: -2%;
    border-radius: 10px;
    text-align: justify;
    height: 249px;
    background-color: #F7F7F7;
    overflow-y: scroll;
}

.dropdownLarger__content p {
    font-size: 20px;
    line-height: 1.5;
    color: #ff6060;
    margin-bottom: 16px;
}

.dropdownLarger__title {
    font-weight: bold;
    margin-right: 1rem;
    text-align: center;
    margin-top: 16px;
}