.fiche-logement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.fiche-logement h1 {
    font-size: 30px;
    font-weight: bold;

}

.fiche-logement h2 {
    font-size: 18px;
    color: #ff6060;
}