.banner {
    position: relative;
}

.bannerImg {
    display: flex;
    margin: auto;
    width: 80%;
    border-radius: 20px;
}

.banner h2 {
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    font-size: 175%;
}